language: python
python:
  - "3.6"
install:
  - pip install coveralls
  - pip install graphics.py
script:
  - coveralls --service=travis-ci
  - xvfb-run coverage run -m unittest discover
  
after_success:
  - coveralls
