language: python
python:
  - "3.6"
install:
  - pip install coveralls
  - pip install graphics.py
  - pip install pyyaml
script:
  - xvfb-run coverage run -m unittest discover
  
after_success:
  - coveralls
